@use '@/styles/variables.scss' as *;

.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: $radius-sm;
  padding: 0 $spacing-sm;

  &.sm {
    height: 40rpx;
  }

  &.md {
    height: 48rpx;
  }
}

.text {
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  white-space: nowrap;
}
